p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
    font-weight: bold;
}

ul {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.colorgreen {
    color: darkgreen;
}

.darkgrey {
    color: rgb(49, 49, 49);
}

.funfont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.justifycenter {
    justify-content: center;
}

.italicized {
    font-style: italic;
    font-weight: normal;
}

.margintoptext {
    margin-top: 10px;
}

.normal {
    font-style: normal;
    font-weight: normal;
}

.smallpadding {
    padding: 5px;
}

.scroll-container {
    /* width: 300px; Adjust width as needed */
    /* height: 200px; Adjust height as needed */
    overflow: auto; /* Enable scroll bar when content overflows */
    /* border: 1px solid #ccc; Optional: Add a border for visual clarity */
    /* padding: 10px; Optional: Add padding inside the container */
}

.viz-container {
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    position: relative;
}
        
    
.viz-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
    